@media only screen and (max-device-width: 480px) {
  body {
    font-size: 106%!important;
    padding: 10px 2px 150px 2px !important;
  }
  html, body {
    width: auto!important;
    overflow-x: hidden!important
  }
  #nvgcn {
    line-height: 1.6!important;
  }
}
a:link, a:visited, a:hover, a:active {
  color: DarkGreen;
  color: Teal;
  color: #006565;
  color: MediumBlue;
  /*font-weight: bold;*/
  text-decoration: none;
}
a:focus, a:hover {
  color: OrangeRed;
  text-decoration: underline;
}
body {
  background-color: #f4f4f4;
  background-color: White;
  color: Black;
  font-family: 'Arial', sans-serif;
  font-family: 'Times New Roman', serif;
  font-size: 110%;
  letter-spacing: 0.5px;
  padding: 30px 23% 180px 23%;
}
code {
  background-color: LightCyan;
}
#exear {
  font-size: 95%;
  text-align: center;
}
h1 {
  color: #444;
}
img {
  border-radius: 10px;
}
li {
  padding-bottom: 6px;
}
.noticia {
  /*background-color: LightYellow;*/
}
#nvgcn {
  font-size: 90%;
  margin-bottom: 35px;
  margin-left: 10px;
}
.orangeRed {
  color: OrangeRed;
}
#pie {
  margin-top: 15px;
  text-align: center;
}
p.inicial {
  margin-top: -15px;
}
.qr {
  width: 100px;
}
#qr {
  margin-top: 30px;
  text-align: center;
}
ul, ol {
  margin-left: -15px;
}
