@media only screen and (max-device-width: 480px) {
  body {
    padding: 0px 2px 100px 2px !important;
  }
  html, body {
    width: auto!important;
    overflow-x: hidden!important
  }
}
a.buscadores {
  word-break: revert!important;
}
a.enlacista {
  word-break: break-all!important;
}
a:link, a:visited, a:hover, a:active {
  color: #105080;
  text-decoration: none;
}
a:focus, a:hover {
  color: OrangeRed;
  text-decoration: underline;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 110%;
  letter-spacing: 0.5px;
  padding: 0px 20% 100px 20%;
}
.arriba {
  color: Green;
  font-size: 180%;
  font-weight: bold;
  position: fixed;
  right: 20px;
  z-index: 1;
}
.arriba:hover {
  color: OrangeRed;
  cursor: pointer;
}
.barrita {
  color: OrangeRed;
  opacity: 0.7;
}
.broken {
  word-break: break-all;
}
#buscadores {
  line-height: 2;
  margin-bottom: 25px;
  margin-top: -10px;
}
button#boton {
  font-size: 104%;
  padding: 5px;
  display: none;
}
#formulario {
  margin-left: 10px;
}
img#favicones {
  border-radius: 2px;
  float: left;
  width: 22px;
  margin: 0px 8px 10px 0px;
}
input {
  border: 2px dotted Silver;
  border-radius: 4px;
  color: #222;
  font-family: monospace, sans-serif;
  font-size: 90%;
  letter-spacing: 0.1px;
  padding: 2px;
  padding-left: 5px;
  padding-top: 4px;
}
#mostrar {
  margin-bottom: 40px;
  margin-top: 30px;
}
#mostrarTemas {
  font-size: 90%!important;
}
.numero {
  color: #999;
  font-size: small;
}
::placeholder {
  color: DarkTurquoise;
  text-align: right;
}
.previo {
  color: OrangeRed;
  margin-left: 20px;
}
.qr {
  width: 90px;
}
#qr {
  align: center;
}
