<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-44Y9CNCHR8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-44Y9CNCHR8');
  </script>
  <link rel="canonical" href="https://jucardus.github.io/" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://jucardus.github.io/">
  <meta property="og:title" content="Jucardus punto com">
  <meta property="og:description" content="Contacto · Enlaces · Facebook · Invitación a pCloud · Música clásica · X Twitter">
  <meta property="og:image" content="https://jucardus.github.io/favicon.ico">
  
  <!-- Twitter -->
  <meta name="twitter:card" content="Mi sitio central">
  <meta name="twitter:title" content="Jucardus punto com">
  <meta name="twitter:description" content="Contacto · Enlaces · Facebook · Invitación a pCloud · Música clásica · X Twitter">
  <meta name="twitter:image" content="https://jucardus.github.io/favicon.ico">
</head>
